*
{
    margin: 0;
    box-sizing: border-box;
}
.bigcontainer
{
    width: 80%;
    margin:2% auto;
    background-color: #3c096c;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
}
.container input
{
    width: 50%;
    outline: none;
    border: none;
    border-radius: 15px;
    margin-left:  10%;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}
.container input::placeholder
{
    color: #9d4edd;
}
.container button
{
    margin-left: 20px;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 15px 25px;
    text-align: center;
    background-color: #c77dff;
    transition: .5s;
    color: white;
    text-transform: capitalize;
    font-size: 18px;
}
.container button:hover
{
    background-color: #9d4edd;
    transform: scale(1.1);
}
#res
{
    margin-top: 20px;
    text-align: center;
    color: #e0aaff;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
}
#res p
{
    margin-top: 10px;
}
@media(max-width:767px)
{
    .bigcontainer
    {
        width: 98%;
        height: 550px;
        
    }
    .container
    {
        flex-direction: column;
    }
    .container button
    {
        margin-top: 10px;
    }
    .container input
    {
        width: 80%;
    }

}